<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Admin</title>
    <link rel="stylesheet" href="{{url_for('static' , filename='css/login.css')}}">
    <link href='https://unpkg.com/boxicons@2.0.8/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <center>
       <a href= "/"> <img src="/static/images/logo_boulan.png" height="170" ></a>
    </center>
    </header>
    <form class="box" method="POST">
    <h1>Admin Login</h1>
    <input type="text" name="username" placeholder="USERNAME OR EMAIL" required>
    <input type="password" name="password" placeholder="PASSWORD" required>
    <input type="submit" name="login" value="Login">
    {% if failed %}
    <center><small style="color: red">Email or Password Incorrect</small></center>
    {% endif %}    
</form>
<div class="img_btn">
<img src="/static/images/home.png" width=150 ></div>
<footer> &copy; Stage d'initiation | STE boulan Admin | Noussair Abellouch </footer>
</body>
<script src="{{url_for('static' , filename='js/script.js')}}"></script>

</html>
