<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="{{ url_for('static',filename='images/logo_boulan.png') }}" class="img-thumbnail " width="100px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">ACCUEIL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/service">SERVICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/post">ARTICLES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">CONTACTEZ-NOUS</a>
        </li>
        </li>
        <li class="nav-item " >
          <a class="nav-link" id="maps" href="https://goo.gl/maps/jek59PgXJuTzXYds5"><i class='bx bxs-map bx-tada'></i> LOCALISATION</a>
        </li>
          </ul>
      </div>
    </div>
  </nav>
